<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <connectionStrings>
        <clear />
        <add name="LPCon" connectionString="Data Source=TEST;Persist Security Info=True;User ID=TEST;Password=TEST;" />
    </connectionStrings>
    <appSettings>
        <clear/>
        <add key="MailChimpAttributeCleanupReportSubject" value="MailChimp Attribute Cleanup Report"/>
        <add key="MailChimpAttributeCleanupReportRecipients" value="test1@test.com,test2@test.com"/>
        <add key="MailChimpAttributeCleanupReportSenderEmail" value="test@test.com"/>
        <add key="MailChimpAttributeCleanupReportSenderDisplayName" value="Test Test"/>
        <add key="MailChimpAttributeCleanupReportReplyToEmail" value="test@test.com"/>
        <add key="MailChimpAttributeCleanupReportReplyToDisplayName" value="Test Test"/>

        <add key="MalformedEmailTemplateReportSubject" value="Malformed Email Template Report"/>
        <add key="MalformedEmailTemplateReportRecipients" value="test1@test.com,test2@test.com"/>
        <add key="MalformedEmailTemplateReportSenderEmail" value="test@test.com"/>
        <add key="MalformedEmailTemplateReportSenderDisplayName" value="Test Test"/>
        <add key="MalformedEmailTemplateReportReplyToEmail" value="test@test.com"/>
        <add key="MalformedEmailTemplateReportReplyToDisplayName" value="Test Test"/>

        <add key="Smtp_Host" value="smtp.test.com"/>
        <add key="Smtp_Port" value="25"/>
        <add key="Smtp_EnableSsl" value="false"/>
        <add key="Smtp_EnableAuthentication" value="true"/>
        <add key="Smtp_UserName" value="test@test.com"/>
        <add key="Smtp_Password" value="test_test"/>
        <add key="Smtp_Timeout_Seconds" value="60"/>
    </appSettings>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="Logs\\LOG"/>
            <param name="AppendToFile" value="false"/>
            <param name="MaximumFileSize" value="10MB"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value=" yyyy-MM-dd_hh-mm-ss.\tx\t"/>
            <param name="StaticLogFileName" value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%-5level] - %message%newline%exception%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </log4net>
</configuration>
