<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Start Configuration For Enterprise Lib-->
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LPWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration  configSource="Entlib.config" />
  <!--End Configuration For Enterprise Lib-->
  <appSettings>
    <add key="WPCalSumName" value="Calendar" />
    <add key="WPCalSumViewName" value="All Events" />
    <add key="WPComAnnName" value="Announcements" />
    <add key="WPComAnnViewName" value="All items" />
    <add key="WPMyDocsName" value="Personal Documents" />
    <add key="WPMyDocsViewName" value="All Documents" />
    <add key="WPSharedDocsName" value="Shared Documents" />
    <add key="WPSharedDocsViewName" value="All Documents" />
    <add key="WPRatesName" value="Rate Sheets" />
    <add key="WPRatesViewName" value="All Documents" />
    <add key="WPComCalName" value="Calendar" />
    <add key="WPComCalViewName" value="Calendar" />
    <add key="WPOWARootUrl" value="https://mail2.launchingpoint.com/owa" />
    <add key="WPOWAInboxViewName" value="Messages" />
    <add key="WPOWACalendarViewName" value="Daily" />

    <add key="PieColor_Opened" value="" />
    <add key="PieColor_Submitted" value="" />
    <add key="PieColor_Approved" value="" />
    <add key="PieColor_Cleared" value="" />
    <add key="PieColor_Doc" value="" />
    <add key="PieColor_Funded" value="" />
    <add key="PieColor_Recorded" value="" />
    <add key="PieColor_Closed" value="" />
    <add key="PieColor_Cancelled" value="" />
    <add key="PieColor_Denied" value="" />
    <add key="PieColor_Suspended" value="" />
    <add key="EmailInboxUrl" value="https://mail2.launchingpoint.com/owa/auth/logon.aspx?url=https://mail2.launchingpoint.com/owa/&amp;reason=0" />
    <add key="MyCalendarUrl" value="https://mail2.launchingpoint.com/owa/auth/logon.aspx?url=https://mail2.launchingpoint.com/owa/&amp;reason=0" />
    
    <add key="PersonalSiteUrl" value="http://focsps2010/" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="LPCon" connectionString="Data Source=SHAWN-PC\SQL2008;Initial Catalog=LP;Persist Security Info=True;User ID=sa;Password=sa8.80"/>-->
  </connectionStrings> 
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <!--<compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>-->
    <httpRuntime executionTimeout="300" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false"/>
    <!--<identity impersonate="true" userName ="focus\spsadmin" password ="$h@rk!" />-->
  </system.web>
  <!--<location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <system.webServer>
    <handlers>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="DashboardHome.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InfoHubServiceEndPoint" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="650000000" maxBufferPoolSize="650000000" maxReceivedMessageSize="650000000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="98192" maxArrayLength="650000000"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8731/InfoHubService/" binding="basicHttpBinding"
                bindingConfiguration="InfoHubServiceEndPoint" contract="LP_Service.ILP2Service"
                name="InfoHubServiceEndPoint" />
        </client>
    </system.serviceModel>
</configuration>
