<?xml version="1.0"?>
<configuration>  
    <connectionStrings>
      <add name="focusITConnectionString" connectionString="Data Source=.\S12;Initial Catalog=LP;Persist Security Info=True;User ID=pulse;Password=Pu1se!"/>
      <add name="PointCentralDBString" connectionString="Data Source=.\S12;Initial Catalog=PDS;Persist Security Info=True;User ID=pulse;Password=Pu1se!"/>
    </connectionStrings>    
  <appSettings>
    <add key="ServiceName" value="InfoHubService2"/>
    <add key="LDAPPassword" value="$PS2010"/>
    <add key="LDAPPath" value="LDAP://192.168.253.16"/>
    <add key="LDAPUser" value="SPSADMIN"/>
    <add key="Domain" value="focus.internal"/>
    <add key="OU" value="SPSTEST"/>
    <add key="ServiceBaseAddress" value="http://localhost:8731/InfoHubService/"/>
    <add key="ServiceName" value="Pulse Service"/>
  </appSettings>
<startup>  
<supportedRuntime version="v2.0.50727"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILeadStarService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="650000000" maxBufferPoolSize="650000000" maxReceivedMessageSize="650000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="650000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.myleadstar.com/LeadStarService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadStarService" contract="LeadStar.ILeadStarService" name="BasicHttpBinding_ILeadStarService"/>
    </client>
  </system.serviceModel>
</configuration>
