<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <connectionStrings>
    <add name="focusITConnectionString" connectionString="Data Source=.\SQL2K8R2;Initial Catalog=LP;Persist Security Info=True;Integrated Security=SSPI;Pooling=true"/>
    <add name="PointCentralDBString" connectionString="Data Source=.\SQL2K8R2;Initial Catalog=PDS;Persist Security Info=True;Integrated Security=SSPI;Pooling=true"/>
  </connectionStrings>
  <appSettings>
    <add key="LDAPPassword" value="$PS2010"/>
    <add key="LDAPPath" value="LDAP://192.168.253.16"/>
    <add key="LDAPUser" value="SPSADMIN"/>
    <add key="Domain" value="focus.internal"/>
    <add key="OU" value="SPSTEST"/>
    <add key="ServiceBaseAddress" value="http://72.167.52.154:8731/InfoHubService/"/>
    <add key="BackgroundLoanAlertPage" value="http://72.167.52.154/BackgroundLoanAlertPage.aspx" />
    <add key="DataTracServerPath" value="\\FOCDATATRAC01\DataTrac\DataTrac Server"/>
    <add key="DataTracLoginName" value="DMD"/>
    <add key="DataTracLoginPwd" value="support1"/>
  </appSettings>  
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="InfoHubServiceEndPoint" closeTimeout="05:01:00"
              openTimeout="05:01:00" receiveTimeout="05:10:00" sendTimeout="05:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_ILeadStarService" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="650000000" maxBufferPoolSize="650000000" maxReceivedMessageSize="650000000"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="650000000"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>       
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="LP2Service.LP2ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="LP2Service.LP2ServiceBehavior" name="LP2Service.LP2Service">
                <endpoint address="" binding="basicHttpBinding" contract="LP2Service.ILP2Service">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/InfoHubService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    <client>
      <endpoint address="http://api.myleadstar.com/LeadStarService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadStarService"
          contract="LeadStar.ILeadStarService" name="BasicHttpBinding_ILeadStarService" />
    </client>
    </system.serviceModel>  
</configuration>
