<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="focusITConnectionString" connectionString="Data Source=WEY-2BBF3918D71;Initial Catalog=LP2.0;Persist Security Info=True;Integrated Security=SSPI;Pooling=false"/>-->
    <!--<add name="focusITConnectionString" connectionString="Data Source=WEY-2BBF3918D71;Initial Catalog=LP2.0;Persist Security Info=True;Integrated Security=SSPI;Pooling=false"/>-->
    <add name="PointCentralDBString" connectionString="Data Source=.\sqlexpress;Initial Catalog=LP_Data;Persist Security Info=True;Integrated Security=SSPI;Pooling=true"/>
    <add name="focusITConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=LP_Data;Persist Security Info=True;Integrated Security=SSPI;Pooling=true"/>
  </connectionStrings>
  <appSettings>
    <add key="LDAPPassword" value="$PS2010"/>
    <add key="LDAPPath" value="LDAP://192.168.253.16"/>
    <add key="LDAPUser" value="SPSADMIN"/>
    <add key="Domain" value="focus.internal"/>
    <add key="OU" value="SPSTEST"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
