<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="focusITConnectionString" connectionString="Data Source=SYSTEMAX01-PC\SQLEXPRESS2012;Initial Catalog=PulseDemo;Persist Security Info=True;User ID=pulsedemouser;Password=pulsedemopwd;Pooling=true"/>
    <add name="PointCentralDBString" connectionString="Data Source=.\SQL2K12_DEV;Initial Catalog=PDS;Persist Security Info=True;User ID=lp;Password=lp123456;Pooling=true"/>
  </connectionStrings>

  <appSettings>
    <add key="SecurityToken" value="ff5eaf4a-6c97-4a00-8252-9eec8bf2979b"/>
    <add key="LeadSource" value="Lending Tree"/>
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="FocusIT.Pulse.PulseLeadService" behaviorConfiguration="md">
        <endpoint name="basicHttpBinding_IPulseLeadService"
                  address ="http://localhost:57523/PulseLeadService.svc"
                  binding="basicHttpBinding"
                  bindingConfiguration="basicHttpBinding_IPulseLeadService"
                  contract="FocusIT.Pulse.IPulseLeadService">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="md">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False"/> <!-- httpsGetEnabled="True" -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IPulseLeadService"
			    closeTimeout="00:10:00"
			    openTimeout="00:01:00"
			    receiveTimeout="00:01:00"
			    sendTimeout="00:01:00">
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <!-- httpRuntime  requestValidationMode="2.0" / -->
    <compilation debug="true" />
    <!--targetFramework="4.0"-->
    <pages validateRequest="false"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="PulseLeadService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>