<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_IPulseLeadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api-equic001.pulsedashboard.net/PulseLeadService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IPulseLeadService"
                contract="PulseLeadServiceClient.IPulseLeadService" name="basicHttpBinding_IPulseLeadService" />
        </client>
    </system.serviceModel>
</configuration>