<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LDAPPassword" value="xxxPasswordxxx "/>
    <add key="LDAPPath" value="LDAP://domain/DC=xxx,DC=com"/>
    <add key="LDAPUser" value="xxxUserxxx "/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
